@model Slide
<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Category</h4>

                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Title</label>

                        <input asp-for="Title" class="form-control" id="name" placeholder="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Subtitle">Subtitle</label>

                        <input asp-for="Subtitle" class="form-control" placeholder="Subtitle">
                        <span class="text-danger" asp-validation-for="Subtitle"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Order">Order</label>

                        <input asp-for="Order" class="form-control" placeholder="Order">
                        <span class="text-danger" asp-validation-for="Order"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image">Image</label>

                        <input asp-for="Image" class="form-control" placeholder="Image">
                        <span class="text-danger" asp-validation-for="Image"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Describtion">Describtion</label>

                        <textarea rows="7" asp-for="Describtion" class="form-control" placeholder="Describtion"></textarea>
                        <span class="text-danger" asp-validation-for="Describtion"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>